img {
height: 100px;
width: 100px;
}

div{
border: solid 2px;
width: 200px;
padding: 15px 10px 15px 10px;
}

h3 {
margin: 5px 0 0 0;
font-style: italic;
}

h4 {
 margin: 20px 0 -7px 0;
}

input, button{
font-size: 15px;
}

fieldset{
width: 200px;
}